# Python/Virtual Environment
.python-version
.venv
venv
env
__pycache__
*.pyc
*.pyd
*.so
dist
build
.eggs
*.egg-info
htmlcov
.coverage
.tox

# PyBind/C++ Build Artifacts
*.o
*.obj
*.exe
*.dll
*.lib
*.exp
*.ilk
*.pdb
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing
_skbuild
build_cpp
/python_api/build
/python_api/dist
/python_api/quant_risk_engine.egg-info

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# VS Code/IDE
.vscode
.idea

# Flask/Runtime
.flaskenv

install
build
build_*

.cache